data.wat
data.warc
data.wet
__pycache__

fineweb-edu.parquet
*.pt

llama_training/babylm/*
test/

train_100M/

babylm_train.zip
babylm_test.zip
*.pt
llama_training/test
llama_training/dev
wandb
checkpoints
assignment2/generate_reverse_solutions.py