.venv

data.wat
data.warc
data.wet
__pycache__
.DS_Store
.env

fineweb-edu.parquet
*.pt

llama_training/babylm/*
test/

train_100M/

babylm_train.zip
babylm_test.zip
babylm_dev.zip
*.pt
llama_training/test
llama_training/dev
wandb
checkpoints
assignment1/llama_training/dev
assignment1/data_preprocess/cleaned_test.txt
assignment1/llama_training/generated-sentence-temp-*.txt
assignment2/generate_reverse_solutions.py

*.synctex.gz
.cache
